$hf-grey: rgb(86, 88, 86);
$hf-blue: rgb(76, 92, 109);
$hf-pink: rgb(211, 168, 159);
$hf-green: rgb(186, 215, 216);

$navbar-inverse-hover-color:           $hf-green;
$navbar-inverse-active-color:          $hf-green;
$brand-inverse: $hf-blue;
$body-color:   $hf-blue;
