<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="row">
        <div class="col-12 col-md-2">
          {% include blog_menu.html %}
        </div>
        <div class="col-12 col-md-10">
          <div class="row pt-4">
            <div class="col-12 col-md-2">
              {% if page.image %}
              <img class="card-img-top img-fluid" src="/assets/images/{{ page.image }}" alt="{{ page.title }}">
              {% endif %}
            </div>
            <div class="col-12 col-md-10">
              <h1>{{ page.title }}</h1>
              <p class="lead">{{ page.date | date: '%B %d, %Y' }}</p>
            </div>
          </div>
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include javascript.html %}
  </body>

</html>
